body
{
    color: #40514E;
    margin: 0;
    text-align: center;
    /* font-family: 'Merriweather',serif; */
    font-family: 'Montserrat',sans-serif;
    font-weight:900;
    font-size: 20px;
   
}

h1
{
    margin: 50px auto 0 auto;
    line-height: 2;
    /* font-size: 5em; */
    color: #66BFBF;
    font-size: 80px;
    /* width: 10%; */
    /* margin: 0 auto; */
    font-family: 'Sacramento' , cursive;
}
h2
{
    font-weight: normal;
    color: #66BFBF;
    font-family: 'Montserrat',sans-serif;
    font-size: 2.5rem;
    /* margin: 0 auto 50px auto; */
    padding-bottom: 10px;
} 
p{
    font-weight: normal;
    line-height: 2;
}
h3{
    color: #11999E;
    font-family: 'Montserrat',sans-serif;
}
a{
    color: #11999E;
    font-family: 'Montserrat',sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

.top-container
{
    background-color: #E4F9F5;
    /* height: 1000px; */
}

.middle-container
{
  margin: 100px auto;
}
.skill-row
{
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
    
}
.skill
{
    height: 200px;
    width: 25%;
    float: left;
    margin-right: 20px;
}
.t1
{
    /* clear: left; */
}

.sk
{
    height: 200px;
    width: 25%;
    float: right;
    margin-left: 20px;
}
.t2
{
    /* clear: right; */
}

.intro
{
    width: 30%;
    margin : auto;
}



.bottom-container
{
   /* margin: 50px; */
   background-color:#66BFBF;
   margin: 50px auto 0px auto ;
   padding: 30px;
   /* padding-left: 100%; */
   /* padding-right: 100%; */
   /* position: relative; */
   /* right: 1000px; */
   color: #11999E;
}

span{
    text-decoration: underline;
}

.top-cloud
{
  position: relative;
  left: 280px;
  padding-top: 80px;
}

.bottom-cloud
{
    position: absolute;
    left: 400px;
}


.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat',sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;

  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

.contact-msg{
    width: 40%;
    margin: 40px auto 60px auto;
}
  hr
  {
      border: dotted 6px #c2d4d4;
      border-bottom: none;
      width: 4%;
      margin: 100px auto;
  }

  .heh {
      color: #EAF6F6;
      font-size: 0.85rem;
      padding: 20px 0;
    }

  a:hover{
      color: #EAF6F6;
  }